<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <title>{{ .Site.Title }}{{ if ne .Title .Site.Title }} | {{ .Title }}{{ end }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">{{ .Site.Title }}</a></h2>
    </header>

    <hr>
    {{- block "main" . }}{{- end }}
    <hr>

    <footer>
        <p><a href="https://git.sr.ht/~berfr">https://git.sr.ht/~berfr</a></p>
        <p><a href="/publickey.txt">67CA4E4F727349D3</a></p>
        <p><a href="mailto:me@berfr.me">me@berfr.me</a></p>
        <p><a href="/index.xml">RSS</a></p>
    </footer>
</body>
</html>
