body {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

h1 {
    font-size: 1.8em
}

.posts-list ul {
    list-style: none;
    padding-left: 0;
}

.posts-list li {
    margin: 0.25em 0;
}

.posts-list time {
    font-family: monospace, monospace;
    padding-right: 0.25em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: royalblue;
    text-decoration: underline;
}

.post h1 {
    margin-bottom: 0.25em;
}

.post-time {
    font-size: 0.75em;
}

footer {
    margin-top: 1em;
}

footer p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

hr {
    margin: 20px 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

pre {
    background-color: cornsilk;
    padding: 14px;
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: orange;
    overflow-x: auto;
}
